#### Dependencies
_____

In [1]:
import numpy as np
import pandas as pd

#### Load Dataset
_____

In [2]:
dataset = '../resources/clean_household_power_consumption.csv'

master = pd.read_csv(dataset, 
                     sep=",", 
                     low_memory=False, 
                     header=0, 
                     infer_datetime_format=True,
                     parse_dates=['datetime'], 
                     index_col=['datetime']
                     )

#### Resample minute data to total for each day
_____

In [3]:
daily_groups = master.resample('D')
daily_data = daily_groups.sum()

daily_data.head(5)

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,sub_metering_4
datetime,,,,,,,,
2006-12-16,1209.176,34.922,93552.53,5180.8,0.0,546.0,4926.0,14680.933319
2006-12-17,3390.460,226.006,345725.32,14398.6,2033.0,4187.0,13341.0,36946.666732
2006-12-18,2203.826,161.792,347373.64,9247.2,1063.0,2621.0,14018.0,19028.433281
2006-12-19,1666.194,150.942,348479.01,7094.0,839.0,7602.0,6197.0,13131.900043
2006-12-20,2225.748,160.998,348923.61,9313.0,0.0,2648.0,14063.0,20384.800011

#### Rename columns
____

In [5]:
columns = {
    'Sub_metering_1' : 'kitchen_active_energy',
    'Sub_metering_2' : 'laundry_active_energy',
    'Sub_metering_3' : 'water_heater_ac_active_energy',
    'sub_metering_4' : 'equipment_active_energy'
}

daily_data.rename(columns = columns, inplace=True)

#### Save clean Dataframe to resources folder
____

In [6]:
daily_data.to_csv('../resources/daily_household_power_consumption.csv')