In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Onion, Eggs, Kidney Beans)

In [3]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
2,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
8,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
9,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
10,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
11,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [4]:
dataset = [
['C', 'E', 'E', 'K', 'K', 'M', 'N', 'N', 'O', 'O', 'Y', 'Y'],
['C', 'C', 'D', 'D', 'D', 'E', 'K', 'O', 'O', 'Y'],
['A', 'A', 'E', 'E', 'K', 'K', 'K', 'M', 'M', 'N', 'N'],
['A', 'C', 'C', 'C', 'M', 'O', 'U', 'U', 'U', 'Y'],
['C', 'E', 'E', 'I', 'I', 'I', 'I', 'K', 'K', 'O', 'O', 'O']
]

In [5]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

frequent_itemsets

    support      itemsets
0       0.8           (C)
1       0.8           (E)
2       0.8           (K)
3       0.6           (M)
4       0.8           (O)
5       0.6           (Y)
6       0.6        (E, C)
7       0.6        (C, K)
8       0.8        (O, C)
9       0.6        (Y, C)
10      0.8        (E, K)
11      0.6        (E, O)
12      0.6        (O, K)
13      0.6        (Y, O)
14      0.6     (E, C, K)
15      0.6     (E, O, C)
16      0.6     (O, C, K)
17      0.6     (Y, O, C)
18      0.6     (E, O, K)
19      0.6  (E, O, C, K)

In [11]:
rules = association_rules(frequent_itemsets, metric="confidence",min_threshold=0.75)

#cond1 = rules['confidence'] >= 0.75
#rules[cond1]
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(O),(C),0.8,0.8,0.8,1.0,1.250000,0.16,inf
1,(C),(O),0.8,0.8,0.8,1.0,1.250000,0.16,inf
2,(Y),(C),0.6,0.8,0.6,1.0,1.250000,0.12,inf
3,(E),(K),0.8,0.8,0.8,1.0,1.250000,0.16,inf
4,(K),(E),0.8,0.8,0.8,1.0,1.250000,0.16,inf
5,(Y),(O),0.6,0.8,0.6,1.0,1.250000,0.12,inf
6,"(E, C)",(K),0.6,0.8,0.6,1.0,1.250000,0.12,inf
7,"(C, K)",(E),0.6,0.8,0.6,1.0,1.250000,0.12,inf
8,"(E, O)",(C),0.6,0.8,0.6,1.0,1.250000,0.12,inf
9,"(E, C)",(O),0.6,0.8,0.6,1.0,1.250000,0.12,inf
10,"(O, K)",(C),0.6,0.8,0.6,1.0,1.250000,0.12,inf
11,"(C, K)",(O),0.6,0.8,0.6,1.0,1.250000,0.12,inf
12,"(Y, O)",(C),0.6,0.8,0.6,1.0,1.250000,0.12,inf
13,"(Y, C)",(O),0.6,0.8,0.6,1.0,1.250000,0.12,inf
14,(Y),"(O, C)",0.6,0.8,0.6,1.0,1.250000,0.12,inf
15,"(E, O)",(K),0.6,0.8,0.6,1.0,1.250000,0.12,inf
16,"(O, K)",(E),0.6,0.8,0.6,1.0,1.250000,0.12,inf
17,"(E, O, C)",(K),0.6,0.8,0.6,1.0,1.250000,0.12,inf
18,"(E, O, K)",(C),0.6,0.8,0.6,1.0,1.250000,0.12,inf
19,"(E, C, K)",(O),0.6,0.8,0.6,1.0,1.250000,0.12,inf
20,"(O, C, K)",(E),0.6,0.8,0.6,1.0,1.250000,0.12,inf
21,"(E, O)","(C, K)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
22,"(E, C)","(O, K)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
23,"(O, K)","(E, C)",0.6,0.6,0.6,1.0,1.666667,0.24,inf
24,"(C, K)","(E, O)",0.6,0.6,0.6,1.0,1.666667,0.24,inf

In [36]:
dataset = [
['I1', 'I2', 'I5'],
['I2', 'I4'],
['I2', 'I3'],
['I1', 'I2', 'I4'],
['I1', 'I3'],
['I2', 'I3'],
['I1', 'I3'],
['I1', 'I2', 'I3', 'I5'],
['I1', 'I2', 'I3']
]

In [39]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=2/9, use_colnames=True)

frequent_itemsets

     support      itemsets
0   0.666667          (I1)
1   0.777778          (I2)
2   0.666667          (I3)
3   0.222222          (I4)
4   0.222222          (I5)
5   0.444444      (I2, I1)
6   0.444444      (I1, I3)
7   0.222222      (I5, I1)
8   0.444444      (I2, I3)
9   0.222222      (I4, I2)
10  0.222222      (I5, I2)
11  0.222222  (I2, I1, I3)
12  0.222222  (I5, I2, I1)

In [46]:
association_rules(frequent_itemsets, metric="confidence",min_threshold=0.5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(I2),(I1),0.777778,0.666667,0.444444,0.571429,0.857143,-0.074074,0.777778
1,(I1),(I2),0.666667,0.777778,0.444444,0.666667,0.857143,-0.074074,0.666667
2,(I1),(I3),0.666667,0.666667,0.444444,0.666667,1.000000,0.000000,1.000000
3,(I3),(I1),0.666667,0.666667,0.444444,0.666667,1.000000,0.000000,1.000000
4,(I5),(I1),0.222222,0.666667,0.222222,1.000000,1.500000,0.074074,inf
5,(I2),(I3),0.777778,0.666667,0.444444,0.571429,0.857143,-0.074074,0.777778
6,(I3),(I2),0.666667,0.777778,0.444444,0.666667,0.857143,-0.074074,0.666667
7,(I4),(I2),0.222222,0.777778,0.222222,1.000000,1.285714,0.049383,inf
8,(I5),(I2),0.222222,0.777778,0.222222,1.000000,1.285714,0.049383,inf
9,"(I2, I1)",(I3),0.444444,0.666667,0.222222,0.500000,0.750000,-0.074074,0.666667
10,"(I2, I3)",(I1),0.444444,0.666667,0.222222,0.500000,0.750000,-0.074074,0.666667
11,"(I1, I3)",(I2),0.444444,0.777778,0.222222,0.500000,0.642857,-0.123457,0.444444
12,"(I5, I2)",(I1),0.222222,0.666667,0.222222,1.000000,1.500000,0.074074,inf
13,"(I5, I1)",(I2),0.222222,0.777778,0.222222,1.000000,1.285714,0.049383,inf
14,"(I2, I1)",(I5),0.444444,0.222222,0.222222,0.500000,2.250000,0.123457,1.555556
15,(I5),"(I2, I1)",0.222222,0.444444,0.222222,1.000000,2.250000,0.123457,inf